<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.codetalk.demo.mysql.utf8mb4.mapper.MessageMapper">

	<resultMap type="me.codetalk.demo.mysql.utf8mb4.pojo.Message" id="mesgResultMap">
		<result property="id" column="mesg_id"></result>
		<result property="text" column="mesg_text"></result>
	</resultMap>
	
	<insert id="insertMesg" parameterType="me.codetalk.demo.mysql.utf8mb4.pojo.Message" useGeneratedKeys="true" keyProperty="id" keyColumn="mesg_id">
		insert into messages (mesg_text)
		values (
				#{text}
		)
	</insert>
	
	<select id="selectLatest5" resultMap="mesgResultMap">
		select mesg_id, mesg_text
		  from messages
		 order by mesg_id desc
		 limit 0, 5
	</select>
	
</mapper>











